body {
    padding-top: 60px;
    padding-bottom: 10px;
}
footer{
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
#container {
    margin: 0 auto;
    min-height: 500px;
    height: 100%;
    width: 98%;
}
#plot{
    height: 500px;
    float: left;
}
#controls{
    width: 180px;	
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px;
    height: 100px;
    float: right;
    height: 480px;
}
.btn{
    margin: 10px;
}